<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Components" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Components>
      <add key="AssemblyPath" value="" />
    </Components>
  </Jhu.Graywulf>
</configuration>