<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <sectionGroup name="Registry">
        <section name="Cluster" type="System.Configuration.AppSettingsSection"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Registry>
      <Cluster>
        <add key="ClusterName" value="Graywulf"/>
      </Cluster>
    </Registry>
  </Jhu.Graywulf>
</configuration>