<configuration>
  <connectionStrings>
    <!-- Graywulf registry, log and workflow persistance database location-->
    <add name="Jhu.Graywulf.Registry" connectionString="Data Source=gwen1;Initial Catalog=Graywulf;MultipleActiveResultsets=true;Integrated Security=true"/>
    <add name="Jhu.Graywulf.Logging" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_Log;MultipleActiveResultsets=true;Integrated Security=true;Enlist=false"/>
    <add name="Jhu.Graywulf.Activities.Persistence" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_Persistence;Integrated Security=true"/>
    
    <!-- Data set descriptions for single server command-line mode -->
    <add name="Jhu.SkyServer.Schema.Dataset.Test" connectionString="Data Source=gw07;Initial Catalog=SkyNode_Test;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.SkyServer.Schema.Dataset.SDSSDR7" connectionString="Data Source=gw07;Initial Catalog=SkyNode_SDSSDR7;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.SkyServer.Schema.Dataset.Galex" connectionString="Data Source=gw07;Initial Catalog=SkyNode_Galex;MultipleActiveResultsets=true;Integrated Security=true" />
  </connectionStrings>
</configuration>