<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Components" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Components>
      <add key="AssemblyPath" value="." />
    </Components>
  </Jhu.Graywulf>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "gwrsvr_trace.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
</configuration>