<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Activities" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>
  
  <Jhu.Graywulf>
    <Activities>
      <add key="WorkflowAssemblyPath" value="C:\data1\dobos\project\SkyQuery\Bin\Debug" />
    </Activities>
  </Jhu.Graywulf>
</configuration>