<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- GRAYWULF CONFIG START -->

  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Activities" type="System.Configuration.AppSettingsSection"/>
      <section name="Activities.Scheduler" type="System.Configuration.AppSettingsSection"/>
      <sectionGroup name="Registry">
        <section name="Federation" type="System.Configuration.AppSettingsSection"/>
      </sectionGroup>
      <sectionGroup name="Jobs">
        <section name="Query" type="System.Configuration.AppSettingsSection"/>
      </sectionGroup>
      <section name="WebUI" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
    <sectionGroup name="Jhu.SkyQuery">
      <sectionGroup name="Jobs">
        <section name="Query" type="System.Configuration.AppSettingsSection"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!-- Graywulf registry, log and workflow persistance database location-->
    <add name="Jhu.Graywulf.Registry" connectionString="Data Source=retdb02;Initial Catalog=Graywulf;MultipleActiveResultsets=true;User id=graywulf;password=helloworld"/>
    <add name="Jhu.Graywulf.Logging" connectionString="Data Source=retdb02;Initial Catalog=Graywulf_Log;MultipleActiveResultsets=true;User id=graywulf;password=helloworld;Enlist=false"/>
    <add name="Jhu.Graywulf.Activities.Persistence" connectionString="Data Source=retdb02;Initial Catalog=Graywulf_Persistence;MultipleActiveResultsets=true;User id=graywulf;password=helloworld"/>

    <!-- Data set descriptions for single server command-line mode -->
    <!--<add name="Jhu.SkyServer.Schema.Dataset.SDSS" connectionString="Data Source=gw06;Initial Catalog=SkyNode_SDSSDR7;MultipleActiveResultsets=true;Integrated Security=true" />-->
  </connectionStrings>

  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network">
        <network host="" port="25" defaultCredentials="false" userName="" password=""/>
      </smtp>-->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\JHU\GrayWulf\Webmail"/>
      </smtp>
    </mailSettings>
  </system.net>

  <Jhu.Graywulf>
    <Activities>
      <add key="WorkflowAssemblyPath" value="C:\Data0\dobos\project\GrayWulf\Bin\Debug" />
    </Activities>
    <Activities.Scheduler>
      <add key="PollingInterval" value="00:00:05"/>
      <add key="AppDomainIdle" value="00:05:00"/>
      <add key="ClusterName" value="Graywulf" />
    </Activities.Scheduler>
    <Registry>
      <Federation>
        <add key="FederationName" value="Graywulf.nmVO"/>

        <!-- Federation specific settings that apply to jobs-->
      </Federation>
    </Registry>
    <Jobs>
      <Query>
        <!-- Federation specific settings that apply to the QueryJobs -->
        <!--<add key="SourceDatabaseVersion" value="PROD"/>
        <add key="StatDatabaseVersion" value="MINI"/>
        <add key="DefaultSchema" value="dbo"/>
        <add key="DefaultDatasetName" value="MYDB"/>
        <add key="DefaultTableName" value="outputtable"/>
        <add key="TemporaryDatabaseDefinition" value="Temp" />
        <add key="TemporaryDatabaseName" value="SkyQuery_Temp" />
        <add key="TemporarySchemaName" value="dbo"/>
        <add key="LongQueryTimeout" value="1200" />
-->
      </Query>
    </Jobs>
    <WebUI>
      <add key="ExportDir" value="C:\Data0\dobos\project\GrayWulf\output"/>
    </WebUI>
  </Jhu.Graywulf>

  <!-- GRAYWULF CONFIG END -->
  <!-- SkyQuery CONFIG START -->
  <!--
  
  <Jhu.SkyQuery>
    <add key="XMatchQueryJobDefinition" value="Graywulf.SkyQuery.XMatchQuery"/>
    <add key="ZoneHeight" value="4" />    
  </Jhu.SkyQuery>
  
  -->
  <!-- SkyQuery CONFIG END -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
  </appSettings>
</configuration>