<configuration>
  <connectionStrings>
    <!-- Graywulf registry, log and workflow persistance database location-->
    <add name="Jhu.Graywulf.Registry" connectionString="Data Source=localhost;Initial Catalog=Graywulf;MultipleActiveResultsets=true;Integrated Security=true"/>
    <add name="Jhu.Graywulf.Logging" connectionString="Data Source=localhost;Initial Catalog=Graywulf_Log;MultipleActiveResultsets=true;Integrated Security=true;Enlist=false"/>
    <add name="Jhu.Graywulf.Activities.Persistence" connectionString="Data Source=localhost;Initial Catalog=Graywulf_Persistence;Integrated Security=true"/>
  </connectionStrings>
</configuration>