<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Format" type="System.Configuration.AppSettingsSection"/>
      <sectionGroup name="Registry">
        <section name="Federation" type="System.Configuration.AppSettingsSection"/>
      </sectionGroup>
      <section name="Web.UI" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>
  
  <Jhu.Graywulf>
    <Format>
      <add key="Jhu.Graywulf.Format.FileFormatFactory" value="Jhu.Graywulf.Format.FileFormatFactory, Jhu.Graywulf" />
      <add key="Jhu.Graywulf.Format.StreamFactory" value="Jhu.Graywulf.Format.StreamFactory, Jhu.Graywulf" />
    </Format>
    <Registry>
      <Federation>
        <add key="FederationName" value="Graywulf.VoServices.SkyQuery"/>
        <add key="QueryFactory" value="Jhu.SkyQuery.Jobs.Query.XMatchQueryFactory, Jhu.SkyQuery" />
      </Federation>
    </Registry>
    <Web.UI>
      <add key="ExportDir" value="\\gwen1\SkyQueryOutput"/>
    </Web.UI>
  </Jhu.Graywulf>
</configuration>