<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.elte.hu" port="25" defaultCredentials="false" userName="" password=""/>
      </smtp>
      <!--<smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Data1\dobos\temp"/>
      </smtp>-->
    </mailSettings>
  </system.net>
</configuration>