<configuration>
  <system.web>
    <globalization culture="en-us" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="/gwauth/SignIn.aspx" enableCrossAppRedirects="true" path="/" />
    </authentication>
    <machineKey validationKey="694DF8BABCF9DEF0F32E1EDA87557BBA320518498C9DD614FECA897A50F421A7697EDD79AD4CAB7525C60ABE8C5FCC0224FA816CC16818DFA43C57BE407DD00F" decryptionKey="5E9482EA87C8EAB54894D44BD34F7C48CC8854E97A6DE917B78749A759B17C6B" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>
