<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="WebAuthenticationModule" type="Jhu.Graywulf.Web.Security.WebAuthenticationModule, Jhu.Graywulf.Web"/>
    </modules>
  </system.webServer> 
  <system.web>
    <globalization culture="en-us" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestPathInvalidCharacters="&lt;,&gt;,%,:,\,?" />
    <pages theme="Basic">
      <controls>
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web.Controls" />
        <add tagPrefix="jgwuc" namespace="Jhu.Graywulf.Web.UI.Controls" assembly="Jhu.Graywulf.Web.UI" />
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
