<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootstrap.NuGet" version="3.3.6" targetFramework="net461" />
  <package id="CodeMirror.NuGet" version="5.19.0" targetFramework="net461" />
  <package id="jQuery.NuGet" version="2.2.4" targetFramework="net461" />
  <package id="jQuery-Validation.NuGet" version="1.15.1" targetFramework="net461" />
  <package id="jQuery-Validation-Unobtrusive.NuGet" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="140.17224.0" targetFramework="net462" />
  <package id="SyntaxHighlighter.NuGet" version="3.0.83.01" targetFramework="net461" />
</packages>