<configuration>
  <connectionStrings>
    <!-- Graywulf registry, log and workflow persistance database location-->
    <add name="Jhu.Graywulf.Registry" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_DEV;MultipleActiveResultsets=true;Integrated Security=true"/>
    <add name="Jhu.Graywulf.Logging" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_DEV_Log;MultipleActiveResultsets=true;Integrated Security=true;Enlist=false"/>
    <add name="Jhu.Graywulf.Activities.Persistence" connectionString="Data Source=gwen1;Initial Catalog=Graywulf_DEV_Persistence;Integrated Security=true"/>
  </connectionStrings>
</configuration>