<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <sectionGroup name="Registry">
        <section name="Domain" type="System.Configuration.AppSettingsSection"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Registry>
      <Domain>
        <add key="DomainName" value="Graywulf.VoServices"/>
      </Domain>
    </Registry>
  </Jhu.Graywulf>
</configuration>