<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Components" type="System.Configuration.AppSettingsSection"/>
      <section name="Scheduler" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Components>
      <add key="AssemblyPath" value="" />
    </Components>
    <Scheduler>
      <add key="PollingInterval" value="00:00:05"/>
      <add key="AppDomainIdle" value="00:05:00"/>
      <add key="AppDomainShutdownTimeout" value="00:00:30"/>
      <add key="CancelTimeout" value="00:01:30"/>
      <add key="PersistTimeout" value="00:01:30"/>
    </Scheduler>
  </Jhu.Graywulf>
</configuration>