<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Components" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Components>
      <add key="AssemblyPath" value="." />
    </Components>
  </Jhu.Graywulf>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "gwrsvr_trace.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
  <connectionStrings>
    <add name="Jhu.Graywulf.IO.Test" connectionString="Data Source=localhost;Initial Catalog=Graywulf_IO_Test;Integrated Security=true"/>
    <add name="Jhu.Graywulf.Registry.Test" connectionString="Data Source=localhost;Initial Catalog=Graywulf_Registry_Test;Integrated Security=true;MultipleActiveResultsets=true;"/>
    <add name="Jhu.Graywulf.Schema.SqlServer.Test" connectionString="Data Source=localhost;Initial Catalog=Graywulf_Schema_Test;Integrated Security=true"/>
    <add name="Jhu.Graywulf.Schema.MySql.Test" connectionString="SERVER=localhost;DATABASE=Graywulf_Schema_Test;UID=graywulf;PASSWORD=password;"/>
    <add name="Jhu.Graywulf.Schema.PostgreSql.Test" connectionString="host=localhost;port=5432;database=graywulf_schema_test;user id=graywulf;password=password"/>
    
    <add name="Jhu.Graywulf.Schema.Dataset.TEMP" connectionString="Data Source=localhost;Initial Catalog=SkyQuery_Temp;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.CODE" connectionString="Data Source=localhost;Initial Catalog=SkyQuery_Code;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.Test" connectionString="Data Source=localhost;Initial Catalog=SkyNode_Test;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.SDSSDR7" connectionString="Data Source=gw07;Initial Catalog=SkyNode_SDSSDR7;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.Galex" connectionString="Data Source=gw07;Initial Catalog=SkyNode_Galex;MultipleActiveResultsets=true;Integrated Security=true" />
  </connectionStrings>
</configuration>