<configuration>
  <connectionStrings>
    <add name="Jhu.Graywulf.Schema.Dataset.TEMP" connectionString="Initial Catalog=Graywulf_TEMP;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.CODE" connectionString="Initial Catalog=SkyQuery_CODE;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.MYDB" connectionString="Initial Catalog=SkyQuery_MyDB_Test;MultipleActiveResultsets=true;Integrated Security=true" />
    <!-- Data set descriptions for single server command-line mode -->
    <add name="Jhu.Graywulf.Schema.Dataset.Test" connectionString="Initial Catalog=SkyNode_Test;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.SDSSDR7" connectionString="Initial Catalog=SkyNode_SDSSDR7;MultipleActiveResultsets=true;Integrated Security=true" />
    <add name="Jhu.Graywulf.Schema.Dataset.Galex" connectionString="Initial Catalog=SkyNode_Galex;MultipleActiveResultsets=true;Integrated Security=true" />
  </connectionStrings>
</configuration>