<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="Registry" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <Registry>
      <add key="ClusterName" value="Cluster:Graywulf"/>
      <add key="DomainName" value="Domain:Graywulf.VOServices"/>
      <add key="FederationName" value="Federation:Graywulf.VOServices.SkyQuery"/>
    </Registry>
  </Jhu.Graywulf>
</configuration>