<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Jhu.Graywulf">
      <section name="RemoteService" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>

  <Jhu.Graywulf>
    <RemoteService>
      <add key="TcpPort" value="5055" />
      <add key="UserGroup" value="sdss\skyquery" />
    </RemoteService>
  </Jhu.Graywulf>
</configuration>