USE [SkyQuery_Code]
GO
/****** Object:  SqlAssembly [Jhu.SkyQuery.SqlClrLib]    Script Date: 12/11/2013 08:23:24 ******/
CREATE ASSEMBLY [Jhu.SkyQuery.SqlClrLib]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103002A2D2A520000000000000000E00002210B010800004600000006000000000000DE64000000200000008000000000400000200000000200000400000000000000040000000000000000C000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000846400005700000000800000C00300000000000000000000000000000000000000A000000C000000F06300001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000E4440000002000000046000000020000000000000000000000000000200000602E72737263000000C0030000008000000004000000480000000000000000000000000000400000402E72656C6F6300000C00000000A0000000020000004C00000000000000000000000000004000004200000000000000000000000000000000C064000000000000480000000200050028410000C82200000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001000B000000010000110072010000700A2B00062A00133001000C0000000200001100027B010000040A2B00062A133002001700000003000011001200FE15020000021200177D01000004060B2B00072A00133002002500000004000011000F00281200000A16FE010C082D0828030000060B2B0C1200FE1502000002060B2B00072A000000133006009D0200000500001100020E06050E06585B0E075A580A030E06050E06585B0E085A580B040E06050E06585B0E095A580C06065A07075A5808085A58281400000A0D06095B0A07095B0B08095B0C0823000000000000F03FFE05130B110B2D0F0023182D4454FB21F93F1305002B2B0823000000000000F0BFFE03130B110B2D0F0023182D4454FB21F9BF1305002B0A0008281500000A1305001105281600000A13061106231656E79EAF03F23C30121106231656E79EAF03F2BCFE0416FE012B0116130B110B3AE40000000007231656E79EAF03F23C301107231656E79EAF03F2BCFE0416FE012B0116130B110B3A86000000000611065B1307110723000000000000F0BFFE03130B110B2D0F0023182D4454FB21F93F1308002B2D110723000000000000F03FFE05130B110B2D0F002300000000000000001308002B0B001107281700000A13080007230000000000000000FE0416FE01130B110B2D120023182D4454FB2119401108591304002B06001108130400002B330006230000000000000000FE0416FE01130B110B2D0F0023182D4454FB21F93F1304002B0D0023000000000000000013040000002B0D002300000000000000001304001209FE1502000002120911042300000000008066405A23182D4454FB2109405B7D02000004120911052300000000008066405A23182D4454FB2109405B7D030000041209067D040000041209077D050000041209087D060000041209050E06587D0700000412090E040E06281800000A587D0800000412090E050E06281800000A5805281800000A58050E0658281800000A5905050E06585B0E065A0E070E075A0E080E085A580E090E095A585A2300000000000000405B597D09000004120905050E06585B0E065A0E070E075A0E080E085A580E090E095A585A7D0A0000041109130A2B00110A2A000000133002006E00000007000011282100000A6F2200000A027B2D000004330F027B2C0000041FFEFE0116FE012B01170C082D0B02167D2C000004020A2B0716734D0000060A06027B2F0000047D2E00000406027B310000047D3000000406027B330000047D3200000406027B350000047D34000004060B2B00072A0000133001000B000000080000110228460000060A2B00062A00133005006A01000009000011027B2C0000040B07450200000007000000020000002B0738180100002B05384101000002157D2C0000040002167D3600000402230000000000806640027B2E0000045B282300000A697D3700000438F80000000002027B360000046C027B2E0000045A230000000000805640597D38000004027B38000004027B320000043717027B38000004027B2E00000458027B34000004FE032B01170C083A9D00000000027C39000004FE1504000002027C39000004027B360000047D0B000004027C39000004027B380000047D0C000004027C39000004027B38000004027B2E000004587D0D000004027C39000004027B30000004027C390000047B0C000004027C390000047B0D000004027B2E00000428080000067D0E00000402027B390000048C040000027D2B00000402177D2C000004170A2B3402157D2C0000040002257B3600000417587D3600000400027B36000004027B37000004FE0216FE010C083AF0FEFFFF00160A2B00062A0000133001000B0000000A000011027B2B0000040A2B00062A1A732400000A7A0A002A000000133001000B0000000A000011027B2B0000040A2B00062A7A02282500000A02037D2C00000402282100000A6F2200000A7D2D0000042A0000133002002A0000000B0000111FFE734D0000060A06027D2F00000406037D3100000406047D3300000406057D35000004060B2B00072A0000133002002E0000000C0000110002A5040000020A0312007B0B000004540412007B0C000004570512007B0D000004570E0412007B0E000004572A000013300600B90000000D0000110004282600000A03282600000AFE0416FE010C082D120003052300000000000059405B590A002B100004052300000000000059405B580A0006282600000A0258239A99999999795640FE0216FE010C082D0D002300000000008066400B2B580023F8C1631ADCA54C4023399D52A246DF913F025A282700000A23399D52A246DF913F0602595A281600000A23399D52A246DF913F0602585A281600000A5A282600000A281400000A5B282800000A282600000A5A0B2B00072A1E02282500000A2A000000133001000C0000000E00001100027B0F0000040A2B00062A260002037D0F0000042A0000133001000C0000000E00001100027B100000040A2B00062A260002037D100000042A0000133001000C0000000E00001100027B110000040A2B00062A260002037D110000042A000013300100110000000E00001100022811000006281400000A0A2B00062A000000133003002F0000000E00001100027B0F000004027B0F0000045A027B10000004027B100000045A58027B11000004027B110000045A580A2B00062A0013300500230000000F00001100027B0F000004027B10000004027B1100000412001201282D00000600060C2B00082A00133002006E0000001000001100027B11000004282A00000A16FE010B072D0D0023000000000000F8FF0A2B4C027B11000004282600000A23000000000000F03FFE0416FE010B072D1500027B11000004281500000A7E250000045A0A2B1A00230000000000805640027B11000004282B00000A6C5A0A2B00062A00001330020029000000020000110002037D0F00000402047D1000000402057D110000040E0416FE010A062D090002281C00000626002A82020F017B0F0000040F017B100000040F017B110000040428140000060000002A72000304027C0F000004027C10000004027C11000004282F000006002A00133002003F0000001100001100030B074503000000020000000B000000140000002B1B027B0F0000040A2B1D027B100000040A2B14027B110000040A2B0B7203000070732C00000A7A062A7E00020F017B0F0000040F017B100000040F017B11000004042819000006002A001330020029000000020000110002037D0F00000402047D1000000402057D110000040E0416FE010A062D090002281C00000626002A72000304027C0F000004027C10000004027C11000004282F000006002A000013300300520000000200001100020F017B0F0000040F027B0F000004587D0F000004020F017B100000040F027B10000004587D10000004020F017B110000040F027B11000004587D110000040516FE010A062D090002281C00000626002A000013300300A30000001200001100027B0F000004027B0F0000045A027B10000004027B100000045A58027B11000004027B110000045A580A0623000000000000F03F590B23000000000000F03F0C077E20000004300E077E2000000465FE0416FE012B0116130411042D360006281400000A0C02257B0F000004085B7D0F00000402257B10000004085B7D1000000402257B11000004085B7D11000004080D2B0D0023000000000000F03F0D2B00092A000330030044000000000000000002257B0F00000423000000000000F0BF5A7D0F00000402257B1000000423000000000000F0BF5A7D1000000402257B1100000423000000000000F0BF5A7D110000042A13300500210000001300001100027B0F00000465027B1000000465027B11000004651673140000060A2B00062AB20002257B0F000004035A7D0F00000402257B10000004035A7D1000000402257B11000004035A7D110000042A0000133002001700000014000011000271050000020A120003281F00000600060B2B00072A00133006006000000015000011000271050000021200120128310000060006282700000A0C06281600000A0D07282700000A130407281600000A130503080965230000000000000000167314000006810500000204110465095A110465085A110516731400000681050000022A13300300320000000E00001100027B0F0000040F017B0F0000045A027B100000040F017B100000045A58027B110000040F017B110000045A580A2B00062A000013300500360000001300001100027B0F0000040F017B0F00000458027B100000040F017B1000000458027B110000040F017B11000004580473140000060A2B00062A000013300500360000001300001100027B0F0000040F017B0F00000458027B100000040F017B1000000458027B110000040F017B11000004581673140000060A2B00062A000013300500360000001300001100027B0F0000040F017B0F00000459027B100000040F017B1000000459027B110000040F017B11000004591673140000060A2B00062A000013300500630000001300001100027B100000040F017B110000045A027B110000040F017B100000045A59027B110000040F017B0F0000045A027B0F0000040F017B110000045A59027B0F0000040F017B100000045A027B100000040F017B0F0000045A590473140000060A2B00062A00133003004D000000160000110023000000000000E03F020328280000065A0B0723000000000000F03FFE0416FE010D092D150023000000000000004007281500000A5A0A002B0C0023182D4454FB2109400A00060C2B00082A00000013300300430000001700001100027B0F0000040F017B0F000004590A027B100000040F017B10000004590B027B110000040F017B11000004590C06065A07075A5808085A58281400000A0D2B00092A0013300200130000000E00001100020328270000067E250000045A0A2B00062A0013300200130000000E00001100020328270000067E290000045A0A2B00062A001330020050000000180000110002710500000203283900000616FE010B072D04170A2B36020328220000067E22000004FE0416FE010B072D04160A2B1D020328270000067E1D000004FE0416FE010B072D04170A2B04160A2B00062A133003008300000017000011000F007B100000040F017B110000045A0F007B110000040F017B100000045A590A0F007B110000040F017B0F0000045A0F007B0F0000040F017B110000045A590B0F007B0F0000040F017B100000045A0F007B100000040F017B0F0000045A590C060F027B0F0000045A070F027B100000045A58080F027B110000045A580D2B00092A00133003004A01000019000011007E1F0000040A0423000000000000F03FFE05130511052D0C23182D4454FB21F93F0B2B250423000000000000F0BFFE03130511052D0C23182D4454FB21F9BF0B2B0704281500000A0B0E04077E250000045A5707281600000A0C0806300A080665FE0416FE012B0116130511053AC7000000000306300A030665FE0416FE012B0116130511053A870000000002085B0D0923000000000000F0BFFE03130511052D0F002300000000008066401304002B310923000000000000F03FFE05130511052D0F002300000000000000001304002B100009281700000A7E250000045A13040003230000000000000000FE0416FE01130511052D12000523000000000080764011045957002B06000511045700002B24000502230000000000000000320B2300000000000000002B092300000000008066405700002B0D000523000000000000000057002B002A0000133003003C01000019000011007E1F0000040A0423000000000000F03FFE05130511052D0C23182D4454FB21F93F0B2B250423000000000000F0BFFE03130511052D0C23182D4454FB21F9BF0B2B0704281500000A0B0E04075707281600000A0C0806300A080665FE0416FE012B0116130511053AC1000000000306300A030665FE0416FE012B0116130511053A810000000002085B0D0923000000000000F0BFFE03130511052D0F0023182D4454FB2109401304002B2B0923000000000000F03FFE05130511052D0F002300000000000000001304002B0A0009281700000A13040003230000000000000000FE0416FE01130511052D12000523182D4454FB21194011045957002B06000511045700002B24000502230000000000000000320B2300000000000000002B0923182D4454FB2109405700002B0D000523000000000000000057002A13300300850100001A000011007E1F0000040A037E240000045A281600000A0C23000000000080564003590B0706340A070665FE0216FE012B0117130611062D2800042300000000000000005705230000000000000000570E0423000000000000F03F5738270100002300000000008056C003590B0706340A070665FE0216FE012B0117130611062D2800042300000000000000005705230000000000000000570E0423000000000000F0BF5738DE0000000E04037E240000045A282700000A57022300000000008056405B0D09696C130411040959282600000A06FE0416FE01130611063A8200000000110469130511051A5D1305110516FE0416FE01130611062D0611051A5813051105130711074504000000020000001200000022000000330000002B3104085705230000000000000000572B3204230000000000000000570508572B220408655705230000000000000000572B110423000000000000000057050865572B00002B220004027E240000045A281600000A085A5705027E240000045A282700000A085A57002B002A7E000F007B0F0000040F007B100000040F007B110000040304282D000006002A7E000F007B0F0000040F007B100000040F007B110000040304282E000006002A0000001B300500B00000001B0000110012002300000000000000002300000000000000002300000000000000001628140000060000026F2D00000A0D2B48096F2E00000A0B001200257B0F00000412017B0F000004587D0F0000041200257B1000000412017B10000004587D100000041200257B1100000412017B11000004587D1100000400096F1B00000A130411042DACDE120914FE01130411042D07096F1E00000A00DC000316FE01130411042D081200281C00000626060C2B00082A0110000002002D00588500120000000013300500CA0300001C00001100121023FFFFFFFFFFFFEF7F23FFFFFFFFFFFFEF7F23FFFFFFFFFFFFEF7F1628140000061210710500000225131025130E130C121123FFFFFFFFFFFFEFFF23FFFFFFFFFFFFEFFF23FFFFFFFFFFFFEFFF1628140000061211710500000225131125130F130D160A38BD0000000002066F2F00000A131412147B0F000004120C7B0F000004FE0416FE01131511152D041114130C12147B0F000004120D7B0F000004FE0216FE01131511152D041114130D12147B10000004120E7B10000004FE0416FE01131511152D041114130E12147B10000004120F7B10000004FE0216FE01131511152D041114130F12147B1100000412107B11000004FE0416FE01131511152D041114131012147B1100000412117B11000004FE0216FE01131511152D0411141311000617580A06026F3000000AFE04131511153A31FFFFFF120D7B0F000004120C7B0F000004590B120D7B10000004120C7B10000004590C120D7B11000004120C7B11000004590D07075A08085A5809095A581305120F7B0F000004120E7B0F000004590B120F7B10000004120E7B10000004590C120F7B11000004120E7B11000004590D07075A08085A5809095A58130612117B0F00000412107B0F000004590B12117B1000000412107B10000004590C12117B1100000412107B11000004590D07075A08085A5809095A581307110C1312110D13131105130811061108FE0216FE01131511152D0E0011061308110E1312110F13130011071108FE0216FE01131511152D0A001110131211111313000312127B0F00000412137B0F000004582300000000000000405B7D0F0000040312127B1000000412137B10000004582300000000000000405B7D100000040312127B1100000412137B11000004582300000000000000405B7D1100000412137B0F000004037B0F000004590B12137B10000004037B10000004590C12137B11000004037B11000004590D07075A08085A5809095A581304041104281400000A57160A38DC0000000002066F2F00000A131412147B0F000004037B0F000004590B12147B10000004037B10000004590C12147B11000004037B11000004590D07075A08085A5809095A58130A110A1104FE0216FE01131511153A8100000000110A281400000A130904044F1109582300000000000000405B57044F044F5A13041109044F59130B03044F037B0F0000045A110B12147B0F0000045A5811095B7D0F00000403044F037B100000045A110B12147B100000045A5811095B7D1000000403044F037B110000045A110B12147B110000045A5811095B7D1100000400000617580A06026F3000000AFE04131511153A12FFFFFF2A0000133003001E0100001D0000110002230000000000000000321D03230000000000000000321104230000000000000000FE0416FE012B0116130711072D0C007217000070733100000A7A23000000000000E03F02035804585A0A0602590B0603590C0604590D07230000000000000000313B08230000000000000000312F09230000000000000000312307065B7E1F000004321908065B7E1F000004320F09065B7E1F000004FE0416FE012B0116130711072D0F002300000000000000001304002B5F00062300000000000000405B283200000A072300000000000000405B283200000A5A082300000000000000405B283200000A5A092300000000000000405B283200000A5A13052300000000000010401105281400000A282800000A5A130400110413062B0011062A000013300500080200001E0000110012000F027B0F0000040F017B0F000004590F027B100000040F017B10000004590F027B110000040F017B11000004591628140000060012010F007B0F0000040F027B0F000004590F007B100000040F027B10000004590F007B110000040F027B11000004591628140000060012020F017B0F0000040F007B0F000004590F017B100000040F007B10000004590F017B110000040F007B11000004591628140000060023000000000000004023000000000000E03F12007B0F00000412007B0F0000045A12007B1000000412007B100000045A5812007B1100000412007B110000045A58281400000A5A281500000A5A0D23000000000000004023000000000000E03F12017B0F00000412017B0F0000045A12017B1000000412017B100000045A5812017B1100000412017B110000045A58281400000A5A281500000A5A130423000000000000004023000000000000E03F12027B0F00000412027B0F0000045A12027B1000000412027B100000045A5812027B1100000412027B110000045A58281400000A5A281500000A5A1305060704282C00000613071107282600000A230100000000000000FE0416FE01130911092D0F002300000000000000001306002B3C0009110411052834000006130611067E2A0000045A13061107230000000000000000FE0416FE01130911092D0E110623000000000000F0BF5A130600110613082B0011082A13300200430000000200001100027C0F0000040F017B0F000004283300000A2C28027C100000040F017B10000004283300000A2C14027C110000040F017B11000004283300000A2B01160A2B00062A00133002005F0000001F000011000314FE0116FE010C082D04160B2B4D0271050000028C0500000203283400000A16FE010C082D04170B2B310271050000028C05000002283500000A036F3500000AFE010C082D04160B2B1103A5050000020A020628360000060B2B00072A00133002006A00000020000011007E270000040D027B0F0000047E26000004283600000A095A0A09095A0D027B100000047E26000004283600000A095A0B09095A0D027B110000047E26000004283600000A095A0C1200283700000A1201283700000A611202283700000A611304110413052B0011052A0000133002003900000002000011000F007B0F0000040F017B0F00000433220F007B100000040F017B1000000433120F007B110000040F017B11000004FE012B01160A2B00062A000000133002003C00000002000011000F007B0F0000040F017B0F00000433250F007B100000040F017B1000000433150F007B110000040F017B11000004FE0116FE012B01170A2B00062A133001003100000002000011000F007B0F000004282A00000A2C1C0F007B10000004282A00000A2C0E0F007B11000004282A00000A2B01160A2B00062A00000013300500480000002100001100178D2B00000113061106161F209D11060A0206196F3800000A0B07169A283900000A0C07179A283900000A0D07189A283900000A13040809110403731400000613052B0011052A133004003100000001000011007271000070027B0F0000048C26000001027B100000048C26000001027B110000048C26000001283A00000A0A2B00062A00000003300500A30000000000000023000000000000F8FF23000000000000F8FF23000000000000F8FF167314000006801200000423000000000000F03F230000000000000000230000000000000000167314000006801300000423000000000000000023000000000000F03F230000000000000000167314000006801400000423000000000000000023000000000000000023000000000000F03F1673140000068015000004729500007080160000042A0003300200EE00000000000000233A8C30E28E79553E801D000004230000000000000040230000000000804AC0283C00000A801E0000042300000000000000407E1E0000045A801F0000042300000000000010407E1E0000045A80200000042348AFBC9AF2D77A3E80210000047E21000004281600000A80220000047E21000004282700000A802300000423399D52A246DF913F802400000423000000000000F03F7E240000045B80250000041F0F802600000423000000000000004080270000047E24000004230000000000004E405B802800000423000000000000F03F7E280000045B80290000047E250000047E250000045A802A0000042A0000133005002600000022000011000F00283D00000A0F01283D00000A120012011202282F0000060006733E00000A0D2B00092A0000133005002600000022000011000F00283D00000A0F01283D00000A120012011202282F0000060007733E00000A0D2B00092A0000133005002600000022000011000F00283D00000A0F01283D00000A120012011202282F0000060008733E00000A0D2B00092A0000133005002B00000023000011000F00283D00000A0F01283D00000A0F02283D00000A12001201282D0000060006733E00000A0C2B00082A00133005002B00000023000011000F00283D00000A0F01283D00000A0F02283D00000A12001201282D0000060007733E00000A0C2B00082A1E02282500000A2A0042534A4201000100000000000C00000076322E302E35303732370000000005006C000000280E0000237E0000940E0000780C000023537472696E6773000000000C1B0000BC00000023555300C81B0000100000002347554944000000D81B0000F006000023426C6F620000000000000002000001571FA20B0902000000FA253300160000010000002D00000008000000390000004D00000078000000060000003E000000060000001E00000023000000030000000B0000000E000000070000000600000001000000030000000200000000000A000100000000000600A3009C000A00CE00B9000600D8009C000A00FC00B90006006701540106002403090306003F0309030A00CB04B90006009605770506002906170606004006170606005D06170606007C0617060600950617060600AE0617060600C90617060600E40617060600FD06770506001107170606003D072A075300510700000600800760070600A00760070600BE079C000A00EF07D4070A000B08D4070600120877050600280877050A003308D407060048089C00060079080903060087085401060093089C000600F20A2A0706001B0B0A0B06004E0B9C000600710B600706008C0B9C000600980B9C000600BA0B09030600D20B9C000600020C9C000600150C9C0006001A0C9C000E00520C390C00000000010000000000010001000921100025003600050001000100010010004D0036000D000B0005000B0110006200000005000B000A00090110006A00360005000F000A0080011000740036000D0017003F00010010007E0036000D002B00400003011000640800000D002B00460001000C011E0006001301210006001601210006001A01210006001D01210006002001210006002301210006002501210006002701210006002D0121000600AB015E000600B20121000600B90121000600C00121000100C60121000100C80121000100CA01210036007B030A0136007F030A01360085030A0136008B030A013600C4032C015680E10321005680E40321005680EB0321005680F70321005680FD03210056800504210036000D04210036001704210036002704210033003904210033004B04210033005504210033005D042100360065042100360073042100330081045E0033008B0421003600950421003600A30421003600B104210001002709F5040100D0095E000100DB095E0006004305210006001B0A210006004E05210006002B0A21000600540521000600360A21000600610521000600480A210006005A0A5E000600680A5E000600760A21000600840A0105502000000000C600DF000A000100682000000000E609E8000E0001008020000000009608F30012000100A420000000009600060117000100D8200000000096003C012D000200EC2500000000960073013C000C00242600000000960082014500100060260000000096009601520015002527000000008618A5015A0019003027000000008608CC01610019004827000000008608D201650019005427000000008608D80161001A006C27000000008608DE0165001A007827000000008608E40161001B009027000000008608EA0165001B009C27000000008608F00161001C00BC27000000008608F90161001C00F827000000008608030261001C0028280000000086080A0261001C00A428000000008618A5016A001C00D928000000008618A50172002000FA28000000008618A50179002200182900000000860012027F0024006329000000008600160272002500842900000000860016026A002700B929000000008600160279002B00D8290000000086001A0284002D00382A000000008600290261003000E82A00000000860033025A003000382B0000000086003A028D003000652B000000008600430265003000942B000000008600490292003100B82B000000008600500298003200242C0000000086005802A2003400642C0000000086005C02A8003500A82C0000000086006B02B0003700EC2C0000000086006F02B0003800302D0000000086007302A8003900A02D0000000086007902A2003B00FC2D0000000086008702A2003C004C2E0000000086009002A2003D006C2E0000000086009E02A2003E008C2E000000008600AC02B7003F00E82E000000009600B102BD004000782F000000009600BF02C7004300D030000000009600C902C70048001832000000009600D902D2004D00A933000000009600E302DE005200C933000000009600F302DE005500EC330000000096003203E8005800B8340000000096004703F4005A0090380000000096005A0303015D00BC390000000096006503BD006000D03B0000000086009103B7006300203C00000000C60091030E0164008C3C00000000C600980313016500043D000000009608A403170165004C3D000000009608B00317016700943D000000009600BE031F016900D43D000000009600060125016A00283E00000000C600DF000A006C00683E000000009118270C5D066C00183F000000009118270C5D066C001440000000009600D50469016C004840000000009600E40469016E007C40000000009600F30469017000B040000000009600020572017200E8400000000096001205720175001F41000000008618A5015A007800842300000000E1019F08DE047800002400000000E101F108EF047800182400000000E1011E090E007800902500000000E1093409F8047800A72500000000E10182095A007800AE2500000000E101AD095A007800B42500000000E109F009F8047800CB25000000008618A5018D017800000001002305000001002505000002002805000003002B05000004002E05000005003005000006003205000007003805000008003A05000009003D0500000A004005000001004305000002004E05000003005405000004006105000001006E0502000200700502000300A30502000400AA0502000500B105000001004E0500000200A30500000300AA0500000400430500000100B70500000100B70500000100B70500000100C60100000200C80100000300CA0100000400BD0500000100C70500000200BD0500000100C90500000200CC0500000100D00500000100D20500000200BD0500000100C60100000200C80100000300CA0100000400BD0500000100C90500000200CC0500000100C70500000200D40500000300BD0500000100230500000100230502000100D60502000200DB0500000100C70500000100E10500000200BD0500000100E10500000100E10500000100C70500000200BD0500000100C70500000100C70500000100C70500000100C70500000100E10500000100E60500000200E90500000300EC0500000100C60100000200C80100000300CA0102000400C90502000500CC0500000100C60100000200C80100000300CA0102000400C90502000500CC0500000100C90500000200CC0502000300C60102000400C80102000500CA0100000100C70502000200C90502000300CC0500000100C70502000200C90502000300CC0500000100EF0500000200BD0500000100EF0502000200F50502000300FC05000001002E0500000200030600000300050600000100E60500000200E90500000300EC05000001000706000001000706000001000D06000002000706000001000D0600000200070600000100C70500000100120600000200BD0500000100C90500000200CC0500000100C90500000200CC0500000100C90500000200CC05000001002505000002002805000003002B05000001002505000002002805000003002B0500000100D00902000900080006000800150008000A0008008100080085004900A5015A005100A5017D015900A5017D016100A5017D016900A5017D017100A5017D017900A5017D018100A5017D018900A5017D019100A50182019900A5017D01A100A5018701B100A5018D01B900A5015A00C100A5015A00C900A5019201D900A501A1012100E8000E00E900A5015A00F1004D080603F10052080603F10057080603F1005B080603F100600806030C00E308E6042900E308EF0401011E090E0014007609FC040101A7095A000901C8095A0001017609F8041101A5015A001901220B0E051901340B1301F100480B06032101A5015A001900A5015A00F100640B0603F100680B0603F1006C0B06032901A5015A003101BE034B05F100930B50053901A5017D011C00E308E60424007609FC042C00B10BC8053400C80B13014901A5017D01F100EE0B06033101910313061900F20B18061900070C1E06F1000F0C2B063101980313016101210C3A0631010601420661010B0855066901A5015A00F100680C610641006C0C61004100A50165000D005C0033010D0060003C010D00640045010D0068004E010D006C0057010D00700060012E007300CF062E00130076062E001B0087062E006B00C6062E00230087062E002B008D062E006300BD062E00330076062E003B009C062E00430087062E00530087064300830098016900DB0109058900DB010905A0009B00BE01A900DB010905C0009B001C0300019B00090503014B01090500089B00090520089B00090540089B00090560089B00090580089B000905C00803010905E00803010905200903010905400903010905800903010905A00903010905A701AB01AF01B6010B03210014051F0525052B052F0536053B054105450555055A055F0567056C0573057C0583058A058F059805B105D605F805030624063106470667066F06020001000500030008000A000000300124000000370128000000CD032F010000CF032F010000D1032F010000D3032F010000D8032F010000DE032F01000016012F0100008D0A05050000CB0A050502000200030002000300050002000A00070001000B00070002000C00090001000D00090002000E000B0001000F000B00020010000D00020011000F0002001200110002001300130002004900150002004C00170008008C00330008008E003500080090003700080092003900080094003B00080096003D00080098003F00D204D804A305AA05C105CE0504800000010000008513ED650000000000003600000002000000000000000000000001009300000000000200000000000000000000000100AD000000000002000000000000000000000001002E0C00000000040003000800030000000000003C4D6F64756C653E004A68752E536B7951756572792E53716C436C724C69622E646C6C004261796573466163746F72506F696E74004A68752E536B7951756572792E53716C436C724C69620055736572446566696E656446756E6374696F6E73005A6F6E654465660043617274657369616E00436F6E7374616E747300436F6F7264696E617465436F6E76657274657273006D73636F726C69620053797374656D0056616C7565547970650053797374656D2E446174610053797374656D2E446174612E53716C547970657300494E756C6C61626C65004F626A65637400546F537472696E67006765745F49734E756C6C006765745F4E756C6C0053716C537472696E67005061727365006D5F4E756C6C0052610044656300437800437900437A0041004C004C6F6742460064510049734E756C6C004E756C6C004261796573466163746F7243616C63506F736974696F6E0053797374656D2E436F6C6C656374696F6E730049456E756D657261626C650043616C63756C6174655A6F6E65730043616C63756C6174655A6F6E65735F46696C6C0043616C63756C617465416C706861002E63746F72005A6F6E654944004465634D696E004465634D617800416C70686100780079007A006765745F58007365745F58006765745F59007365745F59006765745F5A007365745F5A006765745F4E6F726D006765745F4E6F726D32006765745F5241006765745F4465630047657400536574005365744D6964646C65506F696E74004E6F726D616C697A65004D6972726F72004D6972726F726564005363616C65005363616C65640054616E67656E7400446F74004765744D6964646C65506F696E7400416464005375620043726F737300416E676C65496E52616469616E0044697374616E636500416E676C65496E44656772656500416E676C65496E4172636D696E0053616D6500547269706C6550726F647563740058797A3252616465630058797A32526164656352616469616E0052616465633258797A0043617274657369616E3252616465630043617274657369616E32526164656352616469616E0053797374656D2E436F6C6C656374696F6E732E47656E657269630049456E756D657261626C6560310043656E7465724F664D61737300494C69737460310046696E64426F756E64696E6753706865726500476972617264417265610053706865726963616C547269616E676C6541726561004E614E005861786973005961786973005A6178697300457175616C730047657448617368436F6465006F705F457175616C697479006F705F496E657175616C6974790049734E614E005265766973696F6E00580059005A004E6F726D004E6F726D320052410050490048616C665049004D696E757348616C6650490054776F504900446567726565730052616469616E7300546F6C6572616E636500446F75626C65507265636973696F6E00446F75626C65507265636973696F6E327800446F75626C65507265636973696F6E347800536166654C696D697400436F73536166650053696E53616665004465677265653252616469616E0052616469616E324465677265650048617368446967697400486173684D61676963004172636D696E3252616469616E0052616469616E324172636D696E0053717561726552616469616E325371756172654465677265650053716C446F75626C65004571546F43617274657369616E58004571546F43617274657369616E59004571546F43617274657369616E5A0043617274657369616E546F457152610043617274657369616E546F4571446563007300637800637900637A0061006C006C6F674246007700647800647900647A007A6F6E6548656967687400746865746100706172746974696F6E4D696E00706172746974696F6E4D6178006F007A6F6E6549440053797374656D2E52756E74696D652E496E7465726F705365727669636573004F7574417474726962757465006465634D696E006465634D617800616C7068610076616C7565006E6F726D616C697A650070007261006465630069007600710077657374006E6F727468007468617400703100703200703300706C6973740063656E7465720072616469757300620063007269676874006C65667400726570720053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C7475726541747472696275746500436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053657269616C697A61626C65417474726962757465004D6963726F736F66742E53716C5365727665722E5365727665720053716C55736572446566696E65645479706541747472696275746500466F726D6174005374727563744C61796F7574417474726962757465004C61796F75744B696E640053716C46756E6374696F6E417474726962757465004D6174680053717274004173696E00436F730041636F73004C6F67003C43616C63756C6174655A6F6E65733E645F5F310049456E756D657261746F7260310049456E756D657261746F720049446973706F7361626C650053797374656D2E436F6C6C656374696F6E732E47656E657269632E49456E756D657261626C653C53797374656D2E4F626A6563743E2E476574456E756D657261746F7200476574456E756D657261746F720053797374656D2E436F6C6C656374696F6E732E49456E756D657261626C652E476574456E756D657261746F72004D6F76654E657874003C3E325F5F63757272656E740053797374656D2E436F6C6C656374696F6E732E47656E657269632E49456E756D657261746F723C53797374656D2E4F626A6563743E2E6765745F43757272656E74006765745F43757272656E740053797374656D2E436F6C6C656374696F6E732E49456E756D657261746F722E52657365740052657365740053797374656D2E49446973706F7361626C652E446973706F736500446973706F7365003C3E315F5F7374617465003C3E6C5F5F696E697469616C54687265616449640053797374656D2E436F6C6C656374696F6E732E49456E756D657261746F722E6765745F43757272656E74003C3E335F5F7A6F6E65486569676874003C3E335F5F7468657461003C3E335F5F706172746974696F6E4D696E003C3E335F5F706172746974696F6E4D6178003C6D696E7A6F6E653E355F5F32003C6D61787A6F6E653E355F5F33003C7A6F6E656465633E355F5F34003C7A643E355F5F350053797374656D2E436F6C6C656374696F6E732E47656E657269632E49456E756D657261746F723C53797374656D2E4F626A6563743E2E43757272656E740053797374656D2E436F6C6C656374696F6E732E49456E756D657261746F722E43757272656E7400446562756767657248696464656E4174747269627574650053797374656D2E546872656164696E6700546872656164006765745F43757272656E74546872656164006765745F4D616E61676564546872656164496400466C6F6F72004E6F74537570706F72746564457863657074696F6E004162730053696E004174616E00436F6D70696C657247656E65726174656441747472696275746500446F75626C65005369676E00496E6465784F75744F6652616E6765457863657074696F6E006765745F4974656D0049436F6C6C656374696F6E6031006765745F436F756E7400417267756D656E744F75744F6652616E6765457863657074696F6E0054616E005265666572656E6365457175616C730054797065004765745479706500526F756E64004368617200537472696E670053706C6974002E6363746F720053797374656D2E586D6C0053797374656D2E586D6C2E53657269616C697A6174696F6E00586D6C41747472696275746541747472696275746500506F77006765745F56616C756500000000010013430061007200740065007300690061006E000059430061007200740065007300690061006E002E004700690072006100720064004100720065006100280029003A0020006E006500670061007400690076006500200061007200630020006C0065006E006700740068003F0000237B0030003A0052007D0020007B0031003A0052007D0020007B0032003A0052007D00002324005200650076006900730069006F006E003A002000350039003200380020002400000000009B494126978A9049A3792312E373C1AA0008B77A5C561934E0890320000E0320000204000011080600011108111102060202060D0328000204080011080E000A11080D0D0D0D0D0D0D0D0D0D08000412150D0D0D0D0C0005011C1008100D100D100D0700040D0D0D0D0D032000010206080320000D042001010D072004010D0D0D0206200201111402052002010D0D0420010D08082003011114111402042000111405200111140D092002011011141011140520010D11140720021114111402062001111411140520010211140900030D1114111411140A0005010D0D0D100D100D0B0005010D0D100D100D100D090003011114100D100D0B00021114151219011114020E00030115121D011114101114100D0600030D0D0D0D03061114042001021C03200008070002021114111405000102111406000211140E0202060E0328000D08182D4454FB21094008182D4454FB21F93F08182D4454FB21F9BF08182D4454FB21194008F8C1631ADCA54C4008399D52A246DF913F0800021121112111210A00031121112111211121042001010E042001010205200101115504200101080520010111690801000100000000000520010111710307010E030701020607021108110807070311081108028146010004005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E6973746963015402094973507265636973650054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D44617461416363657373000000000400010D0D10070C0D0D0D0D0D0D0D0D0D110811080281B4010006005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E6973746963015402094973507265636973650054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540E1146696C6C526F774D6574686F644E616D651343616C63756C6174655A6F6E65735F46696C6C540E0F5461626C65446566696E6974696F6E335A6F6E65494420696E742C204465634D696E20666C6F61742C204465634D617820666C6F61742C20416C70686120666C6F617405151219011C0515127D011C07200015127D011C08200015127D01130005200012808102061C0320001C0420001300030611100328001C040100000005000012808D0A0703122015127D011C020507011280810507030208020307011C0607021220121504070111100507030D0D020307010D0507030D0D0D040001020D040001080D0407020D020407020D080707050D0D0D0D020407011114060702111411140807060D0D0D0D0D0D0607040D0D0D020607040D0D0D0D04070202020807060D0D0D0D0D020A07080D0D0D0D0D080208061512190111140615127D0111140F070511141114111415127D011114020615121D01111405200113000807151280A1011114210716080D0D0D0D0D0D0D0D0D0D0D111411141114111411141114111411141114020A07080D0D0D0D0D0D0D020F070A1114111411140D0D0D0D0D0D02042001020D050002021C1C0520001280A9060703111402020500020D0D080807060D0D0D0D08080720021D0E1D03080400010D0E0D07071D031D0E0D0D0D11141D030700040E0E1C1C1C030000010500020D0D0D0707040D0D0D11210607030D0D11211001000B536B795175657279434C5200000501000000000E0100094D6963726F736F667400002001001B436F7079726967687420C2A9204D6963726F736F6674203230313000000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010000000000002A2D2A520000000002000000780000000C6400000C46000052534453B3B8E342055BCB4F98C55E74DBDA81CF02000000433A5C64617461315C646F626F735C70726F6A6563745C736B7971756572795C646C6C5C4A68752E536B7951756572792E53716C436C724C69625C6F626A5C44656275675C4A68752E536B7951756572792E53716C436C724C69622E70646200AC6400000000000000000000CE640000002000000000000000000000000000000000000000000000C06400000000000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500204000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058800000680300000000000000000000680334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE0000010000000100ED65851300000100ED6585133F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004C8020000010053007400720069006E006700460069006C00650049006E0066006F000000A4020000010030003000300030003000340062003000000034000A00010043006F006D00700061006E0079004E0061006D006500000000004D006900630072006F0073006F0066007400000040000C000100460069006C0065004400650073006300720069007000740069006F006E000000000053006B0079005100750065007200790043004C005200000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0034003900390037002E00320036003000390033000000000058001B00010049006E007400650072006E0061006C004E0061006D00650000004A00680075002E0053006B007900510075006500720079002E00530071006C0043006C0072004C00690062002E0064006C006C00000000005C001B0001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020004D006900630072006F0073006F0066007400200032003000310030000000000060001B0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004A00680075002E0053006B007900510075006500720079002E00530071006C0043006C0072004C00690062002E0064006C006C000000000038000C000100500072006F0064007500630074004E0061006D0065000000000053006B0079005100750065007200790043004C005200000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0034003900390037002E00320036003000390033000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0034003900390037002E00320036003000390033000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000C000000E03400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  UserDefinedFunction [dbo].[EqToCartesianZ]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[EqToCartesianZ](@ra [float], @dec [float])
RETURNS [float] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.CoordinateConverters].[EqToCartesianZ]
GO
/****** Object:  UserDefinedFunction [dbo].[EqToCartesianY]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[EqToCartesianY](@ra [float], @dec [float])
RETURNS [float] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.CoordinateConverters].[EqToCartesianY]
GO
/****** Object:  UserDefinedFunction [dbo].[EqToCartesianX]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[EqToCartesianX](@ra [float], @dec [float])
RETURNS [float] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.CoordinateConverters].[EqToCartesianX]
GO
/****** Object:  UserDefinedFunction [dbo].[CartesianToEqRa]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[CartesianToEqRa](@cx [float], @cy [float], @cz [float])
RETURNS [float] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.CoordinateConverters].[CartesianToEqRa]
GO
/****** Object:  UserDefinedFunction [dbo].[CartesianToEqDec]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[CartesianToEqDec](@cx [float], @cy [float], @cz [float])
RETURNS [float] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.CoordinateConverters].[CartesianToEqDec]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateZones]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[CalculateZones](@zoneHeight [float], @theta [float], @partitionMin [float], @partitionMax [float])
RETURNS  TABLE (
	[ZoneID] [int] NULL,
	[DecMin] [float] NULL,
	[DecMax] [float] NULL,
	[Alpha] [float] NULL
) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.UserDefinedFunctions].[CalculateZones]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateAlpha]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[CalculateAlpha](@theta [float], @decMin [float], @decMax [float], @zoneHeight [float])
RETURNS [float] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.UserDefinedFunctions].[CalculateAlpha]
GO
/****** Object:  UserDefinedType [dbo].[BayesFactorPoint]    Script Date: 12/11/2013 08:23:25 ******/
CREATE TYPE [dbo].[BayesFactorPoint]
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.BayesFactorPoint]
GO
/****** Object:  UserDefinedFunction [dbo].[BayesFactorCalcPosition]    Script Date: 12/11/2013 08:23:25 ******/
CREATE FUNCTION [dbo].[BayesFactorCalcPosition](@cx [float], @cy [float], @cz [float], @a [float], @l [float], @logBF [float], @w [float], @dx [float], @dy [float], @dz [float])
RETURNS [dbo].[BayesFactorPoint] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Jhu.SkyQuery.SqlClrLib].[Jhu.SkyQuery.SqlClrLib.UserDefinedFunctions].[BayesFactorCalcPosition]
GO
